      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .btn-block {
        margin-top: 20px;
      }

      .removeable-dropdown {
        margin-top: 20px;
      }

      label {
        margin-top: 10px;
        margin-bottom: -5px;
      }

      h6 {
        text-align: center;
      }

      .hide {
        display: none!important;
      }

      #backButton {
        margin-top: 20px;
        margin-bottom: 40px; 
      }

      .list-group-item {
        cursor: pointer;
      }

      .list-card {
        padding: 5px;
        padding-left: 10px;
        margin-top: 2px;
        border-width: 3px;
        cursor: pointer;
      }

      .list-card.btn {
        margin-left: 12px!important;
        margin-right: 12px!important;
      }

      .sr-only {
        color: red;
      }

      .green-background {
        background-color: green;
      }

      .white {
        color: white;
      }

      .loading {
        color: red;
      }

      .SET {
        border-color: #81C784;
      }

      .HIIT {
        border-color: #7e3878;
      }

      .STRETCH {
        border-color: #039BE5;
      }

      .BoxFit {
        border-color: #ff0097;
      }

      .CoreFit {
        border-color: #b91d47;
      }

      .SHOW {
        border-bottom: 6px solid red!important;
        background-color: lightgrey!important;
      }

      .Cancelled {
        background-color: #B5B2B9!important;
        border: 6px solid red!important;
        color: white;
      }

      label {
        font-weight: 500;
        margin: 3px;
      }

      .btn-circle.btn-xl {
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          border-radius: 35px;
          font-size: 24px;
          line-height: 1.33;
      }

      .btn-circle {
          width: 50px;
          height: 50px;
          padding: 6px 0px;
          border-radius: 25px;
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          line-height: 1.1;
      }

      .list-img {
          margin-left: -10px;
          height: 50px;
          width: auto;
      }

      .Au, .Bu, .Cu {
        background-color: #B71C1C;
        color: white;
      }

      .Du, .Eu, .Fu {
        background-color: #4A148C;
        color: white;
      }

      .Gu, .Hu, .Iu {
        background-color: #1A237E;
        color: white;
      }

      .Ju, .Ku, .Lu {
        background-color: #01579B;
        color: white;
      }

      .Mu, .Nu, .Ou {
        background-color: #004D40;
        color: white;
      }

      .Pu, .Qu, .Ru {
        background-color: #33691E;
        color: white;
      }

      .Su, .Tu, .Uu {
        background-color: #F57F17;
        color: white;
      }

      .Vu, .Wu, .Xu, .Yu, .Zu {
        background-color: #6D4C41;
        color: white;
      } 

      b.amounts {
        text-align: right;
      }

      .process {
        border: 6px solid orange!important;
      }

      .holding {
        border: 6px solid blue!important;
      }

      .old {
        border-left: 6px solid green!important;
      }

      

      .error {
        border-left: 6px solid red!important;
      }