.hide {
    display: none;
}

.btn-groupclass
{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;

    display: inline-block;

    width: 100%;
    margin: 0;
    margin: .5rem 0; 
    padding: 1.5rem;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #32325d;
    border-radius: .375rem;
    background-color: #f6f9fc;

    -moz-appearance: none;
}

.btn-groupclass:hover
{
    background-color: #fff;

    border: 0;
    box-shadow: rgba(0, 0, 0, .1) 0 0 0 1px, rgba(0, 0, 0, .1) 0 4px 16px;
}
.btn-groupclass > div
{
    display: flex; 

    align-items: center;
}
.btn-groupclass i
{
    font-size: 1.5rem; 

    box-sizing: content-box;

    vertical-align: middle;

    color: #5e72e4;
}
.btn-groupclass span
{
    font-size: .875rem;
    line-height: 1.5;

    display: inline-block;
    overflow: hidden;

    margin-left: 16px;

    vertical-align: middle; 
    white-space: nowrap;
    text-overflow: ellipsis;
}


.btn-time
{
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 1.25;

   

    width: 100%;
    margin: 0;
    margin: .5rem 0; 
    padding: 1.5rem;

    text-align: center!important;
    vertical-align: middle;

    color: #32325d;
    border: 0;
    border-radius: .375rem;
    background-color: #f6f9fc;

    -moz-appearance: none;
}

.btn-time > div
{
    display: flex; 

    align-items: center;
}
.btn-time i
{
    font-size: 1.5rem; 

    box-sizing: content-box;

    vertical-align: middle;

    color: #5e72e4;
}
.btn-time span
{
    font-size: .875rem;
    line-height: 1.5;

    display: inline-block;
    overflow: hidden;

    margin-left: 16px;

    vertical-align: middle; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hiit
{
    background-color: rgba(137,101,224, .3); 
    border-width: 1px!important;
    border-color: #8965e0!important;
}

.box
{
    background-color: rgba(45,206,137, .3); 
    border-width: 1px!important;
    border-color: #2DCE89!important;
}

.set
{
    background-color: rgba(94,114,228, .3); 
    border-width: 1px!important;
    border-color: #5e72e4!important;
}

.core
{
    background-color: rgba(245, 54, 92, .3);
    border-width: 1px!important;
    border-color: #f5365c!important;
}

.stretch
{
    background-color: rgba(255, 214, 0, .3);
    border-width: 1px!important;
    border-color: #ffd600!important;
}

.joint
{
    background-color: #f6f9fc;
    border-width: 1px!important;
    border-color: #f6f9fc!important;
}

img.classlogo
{
    height: 20px!important;
    text-align: right;
    float:right;
}

